* {
  box-sizing: border-box;
}


body {
  display:flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.h1, .h2, .h3, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h4 {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  color: inherit;
  text-align: center;
}


.image {
 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width:25%;
  max-height: auto;
}


.wrapper {
  /* align-items: auto; */
  justify-content: space-between;
  border: 2px solid #dddd;
  display: flex;
  width: 100%;
}

.card {
  align-self: auto;
  display: inline-block;
  flex: none;
  margin-left: 20px;
  text-align: center;
  width: 50%;

}

button {
  border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
       rgba(0, 0, 0, .2),
       rgba(0, 0, 0, .2) 30%,
       rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


button:hover {
  background-color: rgba(255, 0, 0, 1);
}